target/
!.mvn/wrapper/maven-wrapper.jar
!target/*.jar
*.class
*.jar
*.war
*.nar
*.ear
*.log
*.sh
hs_err_pid*
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.springBeans
.env
.env.*
!.env.example
node_modules/
dist/
