# Puerto de la API
SERVER_PORT=8081

# Base de datos Relacional (PostgreSQL)
DB_HOST=postgres
DB_PORT=5432
DB_NAME=restaurante
DB_USER=postgres
DB_PASSWORD=postgres

# Base de datos NoSQL (MongoDB)
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB=restaurante

# Seguridad (JWT)
JWT_SECRET=TXkgc3VwZXIgc2VjcmV0IGtleSBwYXJhIGVsIHJlc3RhdXJhbnRl
