# Puerto de la API
SERVER_PORT=8081

# Base de datos Relacional (PostgreSQL)
DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=bellaciao_db
DB_USERNAME=postgres
DB_PASSWORD=secret_password

# Base de datos NoSQL (MongoDB)
MONGO_URI=mongodb://mongo_db:27017/bellaciao_logs

# Seguridad (JWT)
JWT_SECRET=UnSecretoSuperSeguroParaElRestauranteBellaCiaoQueDebeSerLargo123
JWT_EXPIRATION_MS=3600000
